 *,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.mainDiv {
  background-color: #cc8be0;
  border: 10px solid #000000;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.pageTitle{
  text-align: center;
  color:#ffffff;
  font-style: bold;
  margin-top: 45px;
  font-size: 60px;
}

.topSections {
  background-color: #fff;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 10px;
  padding: 10px 70px;
  width: 46%;
  height: 80px;
  position: relative;
  float: left;
}  

#viewHighscores{
  
}

#timeLeft{
  font-size: 25px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#mainPage{
  background-color: #fff;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 150px;
  padding: 10px 70px;
  position: relative;
  height: 600px;
  text-align: center;
}

#main-title{
  text-align: center;
  font-style: bold;
  margin-top: 10px;
  margin-bottom:20px;
  font-size: 60px;
}

#content{
  text-align: center;
  font-style: bold;
  margin-top: 10px;
  margin-bottom:20px;
  font-size: 40px;
}

#answers{
  
}

.submitspage{
  list-style: none;
}

.question-choices{
  list-style: none;
}

#submissions{

}

.highscore-count{
  list-style: none;
}


#inputDetails{

}

.answerButtons{
  position: relative;
  text-align: center;
  flex: column;
}

button {
  background-color:#6a1094;;
  border-radius: 25px;
  color: #fff;
  font-size: 25px;
  line-height: 16px;
  max-width: 300px;
  padding: 10px 52px;
  margin-top: 10px;
}
